.sidebar-filter-option {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 1.8%;
  padding: 2% 1.5%;
  width: 40%;
  height: 5vh;
  border-radius: 10px;
  transition: 0.2s all;
}

.sidebar-filter-option:hover {
  cursor: pointer;
}

.sidebar-filter-option:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
