.main-container {
  height: 100vh;
  width: 40vw;
}

.results-container {
  overflow-y: scroll;
  max-height: 100vh;
  width: 100%;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
